.info-card {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 5px;
  padding: 16px;
  transform: scale(0) translateX(-50%) translateY(-50%);
  width: 1232px;
  height: 800px;
  background-color: $color-background;
  z-index: 1000;
  box-shadow: 0px -10px 50px rgba($color: black, $alpha: 0.5);
  opacity: 0;
  animation: scale forwards 0.5s;
  overflow: auto;
  @media screen and(max-width: 1400px) {
    width: auto;
    height: auto;
    top: 0;
  }
  @media screen and(max-width: 425px) {
    width: 90%;
    top: 0;
    left: 0;
    height: 500px;
    overflow-y: scroll;
    // margin-top: 300px;
    // height: fit-content;
    // box-shadow: 0px 0px 13px 0px rgba($color-secondary, $alpha: 0.3);
  }

  .detail-client {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    h3 {
      padding-left: 0;
      font-size: 2em;
      font-weight: normal;
      letter-spacing: 1.5px;
      border-bottom: 2px solid $color-secondary;
      padding-bottom: 8px;
      color: $color-main;
    }
    h4 {
      padding-top: 8px;
      font-weight: normal;
    }
    h5 {
      padding-top: 8px;
      font-weight: normal;
    }
  }
  .representation-site {
    display: flex;
    justify-content: flex-start;
    margin-top: 88px;
    margin-left: -50px;
    @media screen and(max-width: 425px) {
      flex-direction: column;
      width: 100%;
      margin-left: 0px;
      margin-top: 64px;
      justify-content: center;
      align-items: center;
    }

    img {
      width: auto;
      max-height: 300px;

      // margin: 8px;
      transition: all ease-in-out 0.3s;
      @media screen and(max-width: 425px) {
        height: auto;
        margin-bottom: 16px;
      }
    }
    .mobile {
      // transform: rotateZ(-10deg);
      box-shadow: 9px -8px 9px rgba($color: black, $alpha: 0.5);
      transform: translateX(70%) translateY(30%);
      border-radius: 5px;
      // &:hover {
      //   transform: scale(1.5) translateX(70%) translateY(30%);
      //   transition: all ease-in-out 0.3s;
      //   z-index: 1;
      // }
      @media screen and(max-width: 425px) {
        transform: translateX(0%) translateY(0%);
        width: auto;
        box-shadow: 0px 0px 13px 0px rgba($color: white, $alpha: 0.3);
      }
    }
    .desktop {
      max-height: 300px;
      border-radius: 5px;
      &:hover {
        transform: scale(1.5);
        transition: all ease-in-out 0.3s;
        z-index: 1;
        @media screen and(max-width: 425px) {
          transform: scale(1);
        }
      }
      @media screen and(max-width: 425px) {
        width: 100%;
        box-shadow: 0px 0px 13px 0px rgba($color: white, $alpha: 0.3);
        order: -1;
      }
    }
    .tablet {
      transform: translateX(-70%) translateY(-30%);
      box-shadow: -9px 8px 9px rgba($color: black, $alpha: 0.5);
      border-radius: 5px;
      // &:hover {
      //   transform: scale(1.5) translateX(-70%) translateY(30%);
      //   transition: all ease-in-out 0.3s;
      //   z-index: 1;
      // }
      @media screen and(max-width: 425px) {
        transform: translateX(0%) translateY(0%);
        box-shadow: 0px 0px 13px 0px rgba($color: white, $alpha: 0.3);
        order: -1;
      }
    }
  }

  .desciption-siteWeb {
    margin-top: 32px;
    justify-content: space-between;
    width: 100%;
    align-items: flex-end;
    display: flex;
    @media screen and(max-width: 425px) {
      flex-direction: column-reverse;
      align-items: center;
    }

    .language {
      // border: 1px solid green;
      width: 35%;
      height: 200px;
      position: relative;
      margin-right: 16px;
      @media screen and(max-width: 425px) {
        width: 60%;
        margin-right: 0px;
      }
      p {
        background-color: $color-secondary;
        width: fit-content;
        padding: 4px;
        border-radius: 3px;
        color: black;
        position: absolute;
        top: 50%;
        left: 50%;
        border: 1px solid white;
        user-select: none;
        transform: translateY(-50%) translateX(-50%);
        &:nth-child(1) {
          animation: test2 2s alternate infinite;
        }
        &:nth-child(2) {
          animation: test3 2s alternate infinite;
        }
        &:nth-child(3) {
          animation: test4 2s alternate infinite;
        }
        &:nth-child(4) {
          animation: test5 2s alternate infinite;
          z-index: 1;
        }
        &:nth-child(5) {
          animation: test6 2s alternate infinite;
        }
        &:nth-child(6) {
          animation: test7 2s alternate infinite;
        }
        &:nth-child(7) {
          animation: test8 2s alternate infinite;
        }
        &:nth-child(8) {
          animation: test9 2s alternate infinite;
        }
      }
      .backend {
        background-color: $color-background;
        border: 1px solid $color-secondary;
        color: white;
      }
    }
  }
}

@keyframes test2 {
  0% {
    top: 50%;
    left: 50%;
  }
  100% {
    top: 5%;
    left: 5%;
  }
}
@keyframes test3 {
  0% {
    top: 50%;
    left: 50%;
  }
  100% {
    top: 95%;
    left: 95%;
  }
}
@keyframes test4 {
  0% {
    top: 50%;
    left: 50%;
  }
  100% {
    top: 90%;
    left: 40%;
  }
}
@keyframes test5 {
  0% {
    top: 50%;
    left: 50%;
  }
  100% {
    top: 95%;
    left: -25%;
  }
}
@keyframes test6 {
  0% {
    top: 50%;
    left: 50%;
  }
  100% {
    top: 5%;
    left: 45%;
  }
}
@keyframes test7 {
  0% {
    top: 50%;
    left: 50%;
  }
  100% {
    top: 25%;
    left: 80%;
  }
}
@keyframes test8 {
  0% {
    top: 50%;
    left: 50%;
  }
  100% {
    top: 30%;
    left: 20%;
  }
}
@keyframes test9 {
  0% {
    top: 50%;
    left: 50%;
  }
  100% {
    top: 75%;
    left: 0%;
  }
}
