.main-skills {
  overflow-y: auto;
  scroll-snap-type: none;

  .skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    background-color: $color-background;
    padding: 120px 128px 120px 128px;
    letter-spacing: 1.5px;
    width: 100%;
    @media screen and(max-width: 768px) {
      padding: 120px 64px 20px 64px;
    }
    @media screen and(max-width: 425px) {
      padding: 100px 32px 20px 32px;
      height: auto;
      margin-bottom: 60px;
      padding-bottom: 64px;
    }
    &::after {
      content: "<section>";
      position: absolute;
      font-family: $font-secondary;
      color: #515152;
      font-size: 25px;
      top: 25px;
      left: 100px;
      font-weight: lighter;
      @media screen and(max-width: 768px) {
        left: 15px;
      }
      @media screen and(max-width: 425px) {
        font-size: 20px;
      }
    }
    &::before {
      content: "</section>";
      position: absolute;
      font-family: $font-secondary;
      color: #515152;
      font-size: 25px;
      bottom: 35px;
      left: 100px;
      font-weight: lighter;
      @media screen and(max-width: 768px) {
        left: 15px;
      }
      @media screen and(max-width: 425px) {
        font-size: 20px;
      }
    }
    h2 {
      // padding-left: 128px;
      font-size: 4.5em;
      font-weight: lighter;
      color: $color-secondary;
      position: relative;
      @media screen and(max-width: 425px) {
        margin-top: -35px;
        font-size: 2.5em;
      }
      &::after {
        content: "<h2>";
        position: absolute;
        font-family: $font-secondary;
        color: #515152;
        font-size: 25px;
        top: -25px;
        left: -15px;
        font-weight: lighter;
        @media screen and(max-width: 425px) {
          font-size: 20px;
          top: -15px;
        }
      }
      &::before {
        content: "</h2>";
        position: absolute;
        font-family: $font-secondary;
        color: #515152;
        font-size: 25px;
        bottom: -35px;
        left: -15px;
        font-weight: lighter;
        @media screen and(max-width: 425px) {
          font-size: 20px;
          bottom: -20px;
        }
      }
    }

    .language {
      // padding-left: 128px;
      margin-top: 64px;
      width: 100%;
      // border: 1px solid red;
      display: flex;
      @media screen and(max-width: 425px) {
        flex-direction: column;
        margin-top: 32px;
      }

      .front-end {
        width: 45%;
        margin-right: 64px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        @media screen and(max-width: 425px) {
          margin-right: 0px;
          width: 100%;
        }
        h3 {
          width: fit-content;
          font-size: 1.5em;
          margin-bottom: 16px;
          // border-bottom: 1px solid $color-secondary;
        }

        .front {
          position: relative;
          border: 1px solid $color-main;
          border-radius: 4px;
          width: 100%;
          background-color: #2a2a2a;
          margin-bottom: 16px;
          z-index: 0;

          &::after {
            content: "";
            position: absolute;
            left: 2px;
            top: 2px;
            bottom: 2px;
            z-index: -1;
            border-radius: 2px;
            background-color: $color-main;
          }
          &::before {
            // text-shadow: 0px 0px 7px rgba($color: $color-background, $alpha: 1);
            position: absolute;
            color: $color-main;
            font-size: 0.9em;
            font-style: oblique;
            top: 50%;
            color: #2a2a2a;
            transform: translateY(-50%) translateX(-120%);
          }
          h4 {
            color: #2a2a2a;
            padding: 8px;
            // text-shadow: 0px 0px 7px rgba($color: $color-background, $alpha: 1);
          }
        }
        .html {
          &::after {
            width: 95%;
            // background-color: #e35b22;
          }
          &::before {
            content: "95%";
            left: 95%;
          }
        }
        .sass {
          &::after {
            width: 90%;
          }
          &::before {
            content: "90%";
            left: 90%;
          }
        }
        .js {
          &::after {
            width: 70%;
          }
          &::before {
            content: "70%";
            left: 70%;
          }
        }
        .react {
          &::after {
            width: 55%;
          }
          &::before {
            content: "55%";
            left: 55%;
          }
        }
      }

      .back-end {
        width: 45%;
        display: flex;
        flex-direction: column;
        @media screen and(max-width: 425px) {
          margin-right: 0px;
          width: 100%;
          margin-top: 16px;
        }
        h3 {
          width: fit-content;
          font-size: 1.5em;
          margin-bottom: 16px;
          // border-bottom: 1px solid $color-secondary;
        }
        .back {
          border: 1px solid $color-main;
          border-radius: 4px;
          position: relative;
          // border: 1px solid $color-secondary;
          width: 100%;
          background-color: #2a2a2a;
          margin-bottom: 16px;
          z-index: 0;
          &::after {
            content: "";
            position: absolute;
            left: 2px;
            top: 2px;
            bottom: 2px;
            z-index: -1;
            border-radius: 2px;
            border: 1px solid $color-main;
            background: transparent;
          }
          &::before {
            text-shadow: 0px 0px 7px rgba($color: $color-background, $alpha: 1);
            position: absolute;
            color: $color-main;
            font-size: 0.9em;
            font-style: oblique;
            top: 50%;
            transform: translateY(-50%) translateX(-120%);
          }
          h4 {
            padding: 8px;
            text-shadow: 0px 0px 7px rgba($color: $color-background, $alpha: 1);
          }
        }
        .node {
          &::after {
            width: 80%;
          }
          &::before {
            content: "80%";
            left: 80%;
          }
        }
        .express {
          &::after {
            width: 80%;
          }
          &::before {
            content: "80%";
            left: 80%;
          }
        }
        .mongoose {
          &::after {
            width: 75%;
          }
          &::before {
            content: "75%";
            left: 75%;
          }
        }
        .sql {
          &::after {
            width: 45%;
          }
          &::before {
            content: "45%";
            left: 45%;
          }
        }
      }
    }
  }
}
